@font-face {
	font-family: "PT Sans";
	src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
	font-weight: normal;
}

@font-face {
	font-family: "PT Sans";
	src: local("PT Sans Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
	font-weight: bold;
}

body {
	margin: 0;
	padding:0;

	line-height: 21px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
	text-align: center;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.visually_hidden {
 	position: absolute;

  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;

  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.nav_list,
.advantages_list,
.town_advantages_list,
.hotel_types_and_features,
.hotel_search_results,
.socials_links,
.search_sorting,
.search_arranging
{
	margin: 0;
	padding: 0;

	list-style: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
	position: relative;
}

.main_header {
	max-height: 56px;
}

.main_nav {
	position: relative;

	line-height: 26px; 
	font-size: 14px;
	font-weight: bold;

	background-color: #ffffff;
}

.main_nav a:focus,
.button:focus,
.socials a:focus,
.social_icon:focus,
.html_academy:focus,
.filter_checkbox:focus + label::before,
.price_controls input:focus,
.search_result_filter a:focus,
.hotel_name:focus {
	outline: 2px solid #669ec0;
	outline-offset: 3px;
}

.nav_list {
	margin: 0;
	padding: 16px 72px;
	display: flex;
	justify-content: space-between;
}

.nav_list li {
	width: 25%;
}

.nav_list li:first-child,
.nav_list li:nth-child(2)  {
	text-align: left;	
}

.nav_list li:nth-child(3),
.nav_list li:last-child  {
	text-align: right;
}

.nav_list a[href],
.socials a {
	color: #000000;
}

.nav_list a[href]:hover {
	color: #81b3d2;
}

.nav_list a[href]:active {
	color: #c7c7c7;
}

.current_nav {
	color: #766357;
}

.header_logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -70px;
}

.welcome_container {
	padding-top: 76px;
	padding-bottom: 78px;

	background: 
	url(../img/polygon.svg) no-repeat,
	url(../img/background_photo.jpg) no-repeat;
	background-color: #9dcee9;
	background-position: 0 452px, 0 -56px;
	background-size: contain, cover;
}

.welcome_container img {
	display: block;
	margin: 0 auto;
}

.advantages_intro {
	padding: 0;
	padding-top: 61px;
	padding-bottom: 53px;
}

.advantages_intro p {
	margin: 0;
}

.advantages_intro p:first-child {
	margin-top:; 
	padding: 0 380px;

	line-height: 26px;
	font-size: 21px;
	font-weight: bold;
}

.advantages_intro p:last-child {
	margin-top: 29px; 
	padding: 0 355px;
	color: #333333;
}

.advantages_intro,
.search_intro {
	background-color: #ffffff;
}

.advantages_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 1098px;

	background-color: #eeeeee;
}

.advantages_list li {
	/*min-height: 256px; ПРОБЛЕМА*/ 
}

.advantages_list > li:first-child,
.advantages_list > li:nth-child(2) {
	flex-basis: 1200px;
	display: flex;
	flex-wrap: wrap;

	color: #ffffff;

	background-color: #81b3d2;
}

.tile {
	margin: 0;
	box-sizing: border-box;
	padding: 30px 45px 50px;
	width: 400px;
}

.tile h3 {
	margin-block-end: 0;
	margin-block-start: 0;
	margin-bottom: 30px;
    padding: 0 75px;

	font-weight: bold;
	font-size: 21px;
}


li.tile:last-child h3 {
	padding: 0 80px;
}

.tile span {
	margin-block-end: 0;
	margin-block-start: 0;

	line-height: 24px;
	color: #333333;
}

.tile p {
	margin: 0;
	margin-top: 30px;
	padding: 0 15px;

    line-height: 25px;
    color: #333333;
}

div.tile:nth-child(2) p {
	padding: 0;
}

.tile:nth-last-child(2) p {
	padding: 0 20px;
}

.tile:last-child p {
	padding: 0 30px;
}

.town_advantages_list {
	display: flex;
	flex-direction: row;
	flex-basis: 1200px;

	color: #000000;

	background-color: #ffffff;
}

.town_advantage {
	box-sizing: border-box;
	padding: 0 58px;
	padding-top: 153px;
	padding-bottom: 86px;
	width: 400px;
	position: relative;
}

.town_advantage h3 {
	margin: 0;
	font-size: 21px;
}

.town_advantage p {
	margin: 0;
	margin-top: 29px;
	color: #333333;
}

.town_advantage:nth-of-type(1)::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 162px;
	width: 75px;
	height:72px;

	background-image: url(../img/house_icon.svg);
}

.town_advantage:nth-of-type(2)::before {
	content: "";
	position: absolute;
	top: 61px;
	left: 163px;
	width: 74px;
	height:70px;

	background-image: url(../img/burger_icon.svg);
}

.town_advantage:nth-of-type(3)::before {
	content: "";
	position: absolute;
	top: 56px;
	left: 168px;
	width: 64px;
	height:76px;

	background-image: url(../img/present_icon.svg);
}

.search_intro {
	display: flex;
	flex-direction: column;
}

.search_intro p {
	margin: 0;
	line-height: 24px;
}

.search_intro p:first-of-type {
	line-height: 36px;
	font-size: 30px;
	font-weight: bold;
	margin-top:52px;
	margin-bottom:22px;
}

.search_intro p:nth-of-type(2) {
	color: #333333;
}

.search_intro .button {
	width: 568px;
	height: 84px;
	margin: 0 auto;
	margin-top: 49px;
	
	color: #ffffff;
	line-height: 86px;
	font-size: 21px;
	font-weight: bold;

	background-color: #766357;
	cursor: pointer;
}

.search_intro .button:hover,
.booking:hover {
	background-color: #604e43;
}

.search_intro .button:active,
.booking:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.button {
  	font: inherit;
  	text-transform: inherit;
  	vertical-align: middle;
  	text-align: center;

  	border: none;
}

.search_wrapper {
	height: 593px;
	position: relative;

	font-weight: bold;

	background-color: #f2f1ef;
	background-size: cover;
	background-image: url(../img/map.png);
}

.search_wrapper form {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -284px;
	width: 458px;
	padding: 55px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.search_item {
	width: 458px;
	margin: 0;
	margin-bottom: 28px;
	position: relative;	
	display: flex;
	justify-content: space-between;

	line-height: 38px;
}

.search_item input {
	width: 329px;
	height: 32px;
	border: 2px solid #f2f2f2;
	padding-left:13px;

	font: inherit;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
}

.icon {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon:hover svg,
.icon:focus svg {
	fill: #000000;
}

.icon:active svg {	
	fill: #81b3d2;
}

.calendar {
	position: absolute;
	top: 0;
	right:0px;
	height: 38px;
	width: 36px;
	cursor: pointer;
	outline: none;
	display: flex;

	background-color: transparent;
}

.short_container {
	display: flex;
	width: 458px;
}
.search_item_short {
	margin: 0;
	width: 229px;
	box-sizing: border-box;
	position: relative;	
	display: flex;
	justify-content: space-between;

	line-height: 38px;
}

.search_item_short:nth-of-type(2) {
	padding-left: 50px;
}

.search_item_short input {
	width: 114px;
	height: 32px;
	border: 2px solid #f2f2f2;

	font: inherit;
	text-transform: uppercase;
	text-align:center;
	
	background-color: #f2f2f2;
}

.search_item_short .icon {
	position: absolute;
	height: 38px;
	width: 36px;
	cursor: pointer;
	outline: none;
	right: 5px;
	top: 0;

	background-color: transparent;
}

.search_item_short .icon:nth-child(2) {
	left: 118px;
}

.search_item input:hover,
.search_item_short input:hover {
	border-color: #ebebeb;

	background-color: #ebebeb;
}

.search_item input:focus,
.search_item_short input:focus {
	outline: none;
	border-color: #e5e5e5;

	background-color: #ffffff;
}

.submit {
	height: 58px;
	width: 458px;
	padding: 0;
	margin-top: 54px;

	line-height: 26px;
	font-size: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

.social_icon:hover,
.submit:hover,
.more_info:hover {
	background-color: #669ec0;
}

.social_icon:active,
.submit:active,
.more_info:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-left: 128px;
	padding-right: 101px;

	background-color: #fefefe;
}

.footer > p:last-child {
	display: flex;
	align-items: center;
}

.footer > p:last-child svg {
	margin-left: 8px;
	margin-top: 5px;
}

.footer_index {
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	width: 1200px;

	opacity: 0.9;
}

.socials {
	margin: 0;
	padding: 0;
	padding-top: 35px;
	padding-bottom: 36px;

	line-height: 17px;
	font-size: 21px;
	font-weight: bold;
	text-align:left;
}

.socials p {
	margin: 0;
}

.socials p:last-child {
	margin-top: 16px;
}

.socials_links {
	display: flex;
	justify-content: center;
	padding-top: 34px;
	padding-bottom: 34px;
	min-width: 150px;
}

.socials_links li {
	padding: 0 3px;
	height:48px;
	width:46px;
}

.social_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height:48px;
	width:46px;

	background-color: #81b3d2;
}

.social_icon:active svg {
	fill: rgba(255, 255, 255, 0.3);
}

.html_academy:hover svg {
	fill: #81b3d2;
}

.html_academy:active svg {
	fill: #bdbbbc;
}

.current_nav {
	color: #766357;
}

.filter_container form{
	display: flex;
	padding-left: 72px;

	background-color: #81b3d2;
	background-image: url(../img/filter_background.jpg);
	background-position: 0 -50px;
}

.filter_container fieldset{
	padding: 0;
	margin: 0;
}

.filter_section {
	border:none;

	color: #ffffff;
	text-align: left;
}

.filter_section:last-child {
	margin-left: auto;
}

.filter_section legend {
	font-size: 16px;
	font-weight: bold;
}

.filter_section:first-child,
.filter_section:nth-child(2) {
	margin: 0;
	margin-top: 27px;
	margin-bottom: 10px;
	margin-right: 140px;
}

.hotel_types_and_features {
	padding-top: 25px;
}

.hotel_types_and_features li {
	margin-bottom: 21px;
}

.hotel_types_and_features li:last-child {
	margin-bottom: 0;
}

.filter_checkbox + label {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
}

.filter_checkbox:disabled + label {
	color: #6a6a6a;
}

.filter_checkbox + label::before {
	content: "";
	position: absolute;
	left: 0;
	width: 23px;
	height: 23px;
	margin-right: 20px;
	cursor: pointer;

	background: url(../img/checkbox_off.svg) no-repeat;
}

.filter_checkbox:checked + label::before {
	width: 27px;

	background: url(../img/checkbox_on.svg) no-repeat;
}

.filter_checkbox:disabled + label::before {
	cursor: auto;

	background-image: url("../img/checkbox_off_disabled.svg");
}

.filter_checkbox:checked:disabled + label::before {
    width: 27px;

    background-image: url("../img/checkbox_on_disabled.svg");
}

.filter_range {
	margin-top: 31px; 
	margin-bottom: 33px;
	margin-right: 70px;
	width: 330px;

	color: #ffffff;
}

.filter_range_title {
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
}

.price_controls {
	position: relative;
	margin-bottom: 20px;
	height: 36px;
	border: 2px solid #ffffff;
	border-radius: 2px;

	font-size: 0;
}

.price_controls::after {
	content: "";
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width: 2px;
	height: 22px;

	background: #ffffff;
}

.price_controls label {
	display: inline-block;
	cursor: pointer;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
}

.price_controls .min_price,
.price_controls .max_price {
	width: 90px;
	padding-left: 65px;
}


.price_controls input {
	width: 50px;
	margin: 0;
	border: none;

	color: inherit;
	font: inherit;

	background: none;
}

.range_controls {
	position: relative;
	margin-bottom: 32px;
}

.range_controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range_controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range_toggle {
	position: absolute;
  	top: 50%;
  	left: 0%;
  	transform: translateY(-50%);
  	width: 4px;
  	height: 4px;
  	box-sizing: content-box;
  	padding: 0;
  	border: 8px solid #ffffff;
  	border-radius: 50%;
  	cursor: pointer;
	
	background-color: #b7b7b7;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range_toggle:hover,
.range_toggle:focus {
	outline: none;
	width: 5px;
	height: 5px;

	background: #1c4f80;
}

.range_toggle_min {
	left: 0;
}

.range_toggle_max {
	left: 80%;
}

.filter_submit {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;

	line-height: 20px;
	color: #ffffff;
	font:inherit;
	text-transform:inherit;

	background: transparent;
}

.filter_submit:hover,
.filter_submit:focus {
	outline: none;

	color: #000000;

	background: #ffffff;
}

.search_result_filter {
	display: flex;
	align-items: baseline;
	padding: 0 72px;
}

.search_result_filter p:first-of-type{
	padding-right: 49px;
	margin: 30px 0;
}

.search_result_filter p:nth-of-type(2){
	padding-right: 40px;
}

.hotel_search_results,
.search_result_filter {
	background-color: #ffffff;
}

.hotel_name,
.search_result_filter p:first-of-type {
	line-height: 26px;
	font-size: 21px;
	font-weight: bold;
	color: #000000;
}

.search_sorting {
	display: flex;
}

.search_sorting li {
	padding-right: 33px;
}

.search_sorting a {
	border-bottom: 1px dotted #81b3d2;

	color: rgba(0, 0, 0, 0.3);
}

.search_sorting a[href]:hover {
	color: #81b3d2;
}

.search_sorting a[href]:active {
	border: none;

	color: #000000;
}

.search_sorting .current {
	border: none;

	color: #81b3d2;
}

.search_arranging {
	margin-left: auto;
	display: flex;
}

.search_arranging a:first-child {
	margin-right: 12px;
}

.arrow[href]:hover svg {
	fill: #231f20;
}

.arrow[href]:active svg {
	fill: #81b3d2;
}

.current_arrow svg {
	fill: #81b3d2;
}

.hotel_search_results {
	min-height: 453px;
}

.hotel_search_result {
	padding: 30px 72px;
	display: flex;
	border-top: 1px solid #e5e5e5;
}

.hotel_search_result h3 {
	margin: 0;
	margin-bottom: 6px;

	line-height: 26px;
	font-size: 21px;
}

.hotel_search_result img {
	order:-1;
	padding-right: 30px;
}

.hotel_search_result span {
	display: inline-block;
	width: 112px;
	padding-bottom: 20px;
}

.hotel_info {
	width: 258px;
	position: relative;

	text-align: left;
}

.hotel_name:hover {
	color: #81b3d2;
}

.hotel_name:active {
	color: #b2b2b2;
}

.hotel_button {
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	display: inline-block;
	height: 27px;
	width: 110px;
	padding: 0;


	line-height: 27px;
	color: #ffffff;
}

.more_info {
	left: 0;

	background-color: #81b3d2;
}

.booking {
	right: 0;
	width: 142px;

	background-color: #766357;
}

.rating {
	align-self: flex-end;
	margin: 0;
	margin-left: auto;
	position: relative;
	padding: 6px 16px;

	background-color: red;
}

.rating::before {
	content: "";
	width: 92px;
	height: 17px;
	position: absolute;
	top: -62px;
	right: 0px;

	background-image: url(../img/star.svg);
}

.hotel_search_result:nth-child(2) .rating::before {
	width: 69px;
}

.hotel_search_result:nth-child(3) .rating::before {
	width: 46px;
}

.rating {
	color: #666666;

	background-color: #f2f2f2;
}